<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Home page</title>
</head>
<body>
    <div class="container text-center mt-5">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="text-center">Candidate management</h1>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    <td>email</td>
                    <td>phone</td>
                    <td>date of birth</td>
                    <td>action</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="candidate : ${candidates}">
                    <td th:text="${candidate.id}"></td>
                    <td th:text="${candidate.first_name} + ' ' +${candidate.last_name}"></td>
                    <td th:text="${candidate.email}"></td>
                    <td th:text="${candidate.phone}"></td>
                    <td th:text="${candidate.day_of_birth} + '-' + ${candidate.month_of_birth} + '-' + ${candidate.year_of_birth}"></td>
                    <td><div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary">Left</button>
                        <button type="button" class="btn btn-secondary">Middle</button>
                        <button type="button" class="btn btn-secondary">Right</button>
                    </div></td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>